@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui"

body {
	font-size: 16px;
	font-family: "Inter", sans-serif;
}

.container {
	margin: auto;
	padding: 0 15px;
}

button {
	cursor: pointer !important;
}

.text-primary {
	@apply bg-linear-to-r from-[#308CDF] to-[#2CBF97] bg-clip-text text-transparent;
}

.common-btn {
	@apply bg-linear-to-br from-[#308CDF] to-[#2CBF97];
}

.navbar-start .menu-sm.dropdown-content li a {
	font-size: 18px;
}
